<settings>

	<mirrors>
  	<mirror>
  		<!--This sends everything else to /public -->
  		<id>nexus</id>
  		<mirrorOf>*</mirrorOf>
 			<url>http://localhost:8081/repository/maven-public/</url>
  		</mirror>
	</mirrors>

	<profiles>
  	<profile>
  		<id>nexus</id>
  			<!--Enable snapshots for the built in central repo to direct -->
  			<!--all requests to nexus via the mirror -->
  			<repositories>
      		<repository>
      		<id>central</id>
      		<url>http://central</url>
      		<releases><enabled>true</enabled></releases>
      		<snapshots><enabled>true</enabled></snapshots>
      	</repository>
  			</repositories>

  		<pluginRepositories>
      	<pluginRepository>
      		<id>central</id>
      		<url>http://central</url>
      		<releases><enabled>true</enabled></releases>
      		<snapshots><enabled>true</enabled></snapshots>
      	</pluginRepository>
  		</pluginRepositories>
  	</profile>
	</profiles>

	<activeProfiles>
  	<!--make the profile active all the time -->
  	<activeProfile>nexus</activeProfile>
	</activeProfiles>

	<servers>

    <server>
      <username>admin</username>
      <password>admin123</password>
      <id>nexus-snapshots</id>
    </server>

    <server>
      <username>admin</username>
      <password>admin123</password>
      <id>nexus-releases</id>
    </server>

    <server>
      <username>admin</username>
      <password>admin123</password>
      <id>clm_server</id>
    </server>

    <server>
      <username>admin</username>
      <password>admin123</password>
      <id>nexus</id>
    </server>

  </servers>

  <pluginGroups>
  	<pluginGroup>com.sonatype.clm</pluginGroup>
  </pluginGroups>

</settings>
